<p>환영합니다 <%=@resource.name%>님 !! </p>

<p style="margin-bottom: 30px;">아래의 링크를 클릭하시면 로그인창으로 이동하며, 회원가입이 완료됩니다.<br>
  충대인의 소모임 활성화에 동참하셔서 즐거운 대학생활을 보내세요! :) </p>

<p><%= link_to 'CNU GROUP 시작하기', confirmation_url(@resource, confirmation_token: @token) %></p>
